button:disabled {
  background-color: rgb(217, 217, 217);
}
button {
  padding: 16px;
  width: 100%;
  background-color: blue;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  border: none;
  margin: 3px;
}
