/* DEFAULT: allow compression & wrapping */
.tx-row td {
  white-space: normal;
  word-break: break-word;
  vertical-align: middle;
}

/* STATUS BADGES */
.badge.completed {
  background: #e6f9f4;
  color: #12b981;
}

.badge.pending {
  background: #fff3e6;
  color: #f97316;
}
.pi.pi-circle-fill {
  font-size: 10px;
}

.badge.failed {
  background: #feecec;
  color: #ef4444;
}

/* AMOUNTS */
.amount.positive {
  color: rgb(43, 43, 255);
  font-weight: 600;
}

.amount.negative {
  color: rgb(255, 32, 32);
  font-weight: 600;
}

/* CELL PADDING */
.id,
.date,
.from,
.to,
.type,
.status,
.currency,
.amount,
.fee {
  padding: 10px;
}

/* KEEP NUMBERS COMPACT */
.id,
.date,
.amount,
.fee,
.currency {
  white-space: nowrap;
}

/* ALLOW TEXT TO WRAP */
.from,
.to,
.type {
  white-space: normal;
}
.currency {
  gap: 6px;
}

.flag {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}
.FLAGS {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 56px;
}
