.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup {
  width: 700px;
  background: white;
  border-radius: 12px;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  margin-bottom: 12px;
}

.close {
  cursor: pointer;
}

.option {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 10px 0;
  font-size: 15px;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.done {
  background: #2b5cff;
  color: white;
  padding: 8px 24px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.reset {
  background: transparent;
  color: #2b5cff;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
.btn-outline,
.left,
.right {
  border: 1px solid #e1e6ef;
  background: white;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 18px;
  cursor: pointer;
}
