.create-page {
  display: flex;
  justify-content: center;
  padding: 40px;

  &__container {
    max-width: 420px;
    width: 100%;
    text-align: center;
  }

  &__logo {
    width: 48px;
    height: 48px;
    background: #000;
    color: #fff;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
    font-size: 22px;
  }

  &__title {
    margin-bottom: 6px;
  }

  &__subtitle {
    color: #555;
    margin-bottom: 20px;
  }
}

.label {
  display: block;
  text-align: left;
  font-size: 14px;
  margin-bottom: 6px;
}

.phone-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  height: 48px;
  margin-bottom: 10px;
}

.tel {
  width: 100%;
}
// iti iti--allow-dropdown iti--show-flags iti--inline-dropdown
::ng-deep .phone-wrapper .tel .iti__tel-input {
  height: 45px !important;
  width: 415px !important;
  position: relative;
  display: inline-block;
  border-radius: 6px;
}
