.create-page {
  display: flex;
  justify-content: center;
  padding: 40px;

  &__container {
    max-width: 420px;
    width: 100%;
    text-align: center;
    flex-direction: column;
  }

  p {
    padding-bottom: 20px;
    text-align: left;
  }
  .email-field {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;

    label {
      font-size: 14px;
      color: #444;
    }

    input {
      padding: 14px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 8px;
      margin-bottom: 30px;
    }
  }

  &__logo {
    width: 48px;
    height: 48px;
    background: #000;
    color: white;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    margin: 0 auto;
  }
}
