.dashboard-layout {
  --sidebar-width: 240px;
}
.sidebar {
  width: var(--sidebar-width);
}

.dashboard-content {
  flex: 1;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-left: 100px;
  min-height: 100vh;
  margin-left: var(--sidebar-width);
  background-color: rgb(236, 236, 238);
}
body {
  margin: 0px !important;
}
