.page-wrapper {
  max-width: 400px;
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;

  .pi.pi-lock {
    border: grey solid 1px;
    padding: 10px;
  }
  .icon-wrapper {
    text-align: center;
    margin-bottom: 1rem;
  }

  .label {
    display: block;
    margin: 0.5rem 0 0.25rem;
    font-weight: bold;
    text-align: left;
  }

  .input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .error-line {
    color: red;
    margin-bottom: 0.5rem;
  }

  .rules {
    list-style: none;
    padding: 0;
    margin-bottom: 1rem;

    li {
      margin-bottom: 0.5rem;

      .rule-item {
        display: flex;

        .icon {
          width: 16px;
          height: 16px;
          border-radius: 50%;
          border: 2px solid gray;
          display: inline-block;
          margin-right: 0.5rem;
          position: relative;

          &::before {
            content: '✔';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 12px;
            color: grey;
          }

          &.valid {
            border-color: green;

            &::after {
              content: '✔';
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              font-size: 12px;
              color: green;
            }
          }
        }
      }
    }

    .checkbox {
      display: block;
      margin-bottom: 1rem;

      a {
        text-decoration: underline;
      }
    }
  }
  .btn-primary {
    padding: 16px;
    width: 100%;
    background-color: blue;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    margin: 3px;
    margin-top: 20px;
    justify-content: center;

    &:disabled {
      background-color: rgb(217, 217, 217);

      cursor: not-allowed;
    }
  }
}
