.page-wrapper {
  max-width: 400px;
  margin: auto;
  text-align: center;

  .pi.pi-lock {
    border: grey solid 1px;
    padding: 10px;
    border-radius: 6px;
  }

  p {
    font-size: 19.5px;
  }

  .icon-wrapper {
    text-align: center;
    margin-bottom: 1rem;
  }

  .label {
    display: block;
    margin: 0.5rem 0 0.25rem;
    text-align: left;
  }

  .input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .error-line {
    color: red;
    margin-bottom: 0.5rem;
    text-align: left;
  }

  .rules {
    list-style: none;
    padding: 0;
    margin-bottom: 1rem;

    li {
      margin-bottom: 0.5rem;

      .rule-item {
        display: flex;
        align-items: center;
      }
    }
  }

  .icon {
    width: 18px;
    height: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #c4c4c4;
    border-radius: 50%;
    margin-right: 0.6rem;
    font-size: 12px;
    color: #c4c4c4;
    background: white;
  }

  .icon.valid {
    border-color: #28a745;
    color: #28a745;
  }

  .checkbox {
    display: block;
    margin-bottom: 1rem;

    a {
      text-decoration: underline;
    }
  }

  .btn-primary {
    padding: 16px;
    width: 100%;
    background-color: blue;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    margin-top: 20px;

    &:disabled {
      background-color: rgb(217, 217, 217);
      cursor: not-allowed;
    }
  }
}
