.th-content {
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

:host ::ng-deep .statuss {
  padding: 20px !important;
}

.th-content i {
  font-size: 12px;
  opacity: 0.6;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
}

.topbar {
  background: white;
  padding: 12px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

.topbar-actions {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
}

.search-box {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #e1e6ef;
  border-radius: 8px;
  padding: 10px 12px;
  width: 240px;
}

.search-box input {
  border: none;
  outline: none;
  width: 100%;
}

.nav-btn,
.btn-outline {
  border: none;
  background: white;
  border-radius: 8px;
  padding: 6px 10px;
  font-size: 14px;
}

.pagination-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding: 12px 8px;
  background: white;
  border-top: 1px solid #e1e6ef;
}

.page-indicator {
  font-size: 15px;
  color: #555;
}

.nav-btn {
  border: 1px solid #e1e6ef;
  background: white;
  border-radius: 8px;
  padding: 6px 10px;
  cursor: pointer;
}

.nav-btn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
:host ::ng-deep .p-datepicker table td span {
  height: 35px;
  width: 35px;
  margin: none;
  padding: none;
  padding: none;
}
.empty-state {
  text-align: center;
  padding: 3rem 1rem;

  img {
    width: 700px;
    opacity: 0.85;
    margin-bottom: 1rem;
  }
}
:host ::ng-deep .p-datepicker .p-datepicker-panel-inline .p-datepicker-calendar-container {
  height: 350px;
}

:host ::ng-deep .p-datepicker .p-datepicker-panel {
  border: none;
}
:host ::ng-deep .p-datatable table {
  width: 100%;
  table-layout: auto;
  background: white;
  border-collapse: collapse; /* ✅ ensures borders render clean */
}
:host ::ng-deep .p-datatable thead th {
  background: #f1efee;
  padding: 12px;
  font-size: 13px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}
:host ::ng-deep .p-datatable tbody td {
  padding: 1px;
  font-size: 13px;
  border-bottom: none;
  width: 10px;
  height: 10px;
}

/* ✅ use ONE border on the whole row */
:host ::ng-deep .p-datatable-tbody > tr {
  border-bottom: 1px solid #cdd1d8;
}

/* remove last row border */
:host ::ng-deep .p-datatable-tbody > tr:last-child {
  border-bottom: none;
}
:host ::ng-deep .p-datatable tbody tr {
  height: 80px;
  cursor: pointer;
}

:host ::ng-deep .p-datepicker-header {
  border-bottom: none;
}
:host ::ng-deep .p-datepicker-calendar {
  border: none;
}
:host ::ng-deep .data-pc-section {
  margin: 3px;
}
