:host ::ng-deep .p-datatable {
  background: white;
}

:host ::ng-deep .p-datatable thead th {
  background: rgb(238, 235, 235);
  padding: 14px 16px;
  border: none;
}

:host ::ng-deep .p-datatable tbody tr {
  height: 100px;
}

table {
  border-spacing: 0;
}

:host ::ng-deep .p-datatable-tbody > tr > td {
  border-bottom: 1px solid #cdd1d8;
}

/* ✅ TOP BAR */
.topbar {
  background-color: white;
  padding: 1px 8px;
  display: flex;
  justify-content: space-between;
}

.topbar-actions {
  display: flex;
  align-items: center;
  gap: 6px;
}

/* ✅ SEARCH BOX */
.search-box {
  display: flex;
  align-items: center;
  gap: 6px;
  border: 1px solid #e1e6ef;
  border-radius: 8px;
  padding: 12px;
  width: 270px;
}

.search-box input {
  border: none;
}

/* ✅ BUTTONS */

.left,
.right {
  border: 1px solid #e1e6ef;
  background: white;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 18px;
  cursor: pointer;
}
.btn,
.btn-outline {
  border: none;
  background-color: white;
}
