<div class="transactions-card">
  <div class="topbar">
    <h2>Transactions</h2>

    <div class="topbar-actions">
      <div class="search-box">
        <span class="pi pi-search"></span>
        <input
          type="text"
          placeholder="Search"
          [value]="searchTerm()"
          (input)="searchTerm.set($any($event.target).value)"
        />
      </div>

      <!-- DATE NAVIGATION -->
      <button class="nav-btn" (click)="previousDate()" [disabled]="isAllTime()">
        <i class="pi pi-chevron-left"></i>
      </button>
      <button class="nav-btn" (click)="nextDate()" [disabled]="isAllTime()">
        <i class="pi pi-chevron-right"></i>
      </button>

      <app-date-filter-popup
        [range]="displayRange()"
        [filter]="appliedQuickFilter()"
        (apply)="onApplyFilter($event)"
      ></app-date-filter-popup>

      <app-currency-filter-popup (apply)="onCurrencyFilter($event)"></app-currency-filter-popup>
    </div>
  </div>

  <div class="table-wrapper">
    <p-table [value]="paginatedTransactions()">
      <ng-template pTemplate="header">
        <tr>
          <th (click)="sortBy('id')">ID <i [class]="getSortIcon('id')"></i></th>
          <th (click)="sortBy('date')">Date <i [class]="getSortIcon('date')"></i></th>
          <th (click)="sortBy('from')">From<i [class]="getSortIcon('from')"></i></th>
          <th (click)="sortBy('to')">To<i [class]="getSortIcon('to')"></i></th>
          <th (click)="sortBy('type')">Type<i [class]="getSortIcon('type')"></i></th>
          <th (click)="sortBy('status')">Status<i [class]="getSortIcon('status')"></i></th>
          <th (click)="sortBy('currency')">Currency<i [class]="getSortIcon('currency')"></i></th>
          <th (click)="sortBy('total')">Total<i [class]="getSortIcon('total')"></i></th>
          <th (click)="sortBy('amount')">Amount<i [class]="getSortIcon('amount')"></i></th>
          <th (click)="sortBy('fee')">Fee<i [class]="getSortIcon('fee')"></i></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-tx>
        <tr app-transactions-row [tx]="tx" (click)="openTransactionDetails(tx)"></tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="10" class="empty-state">
            <img src="/download.png" alt="No transactions" />
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <!-- PAGINATION -->
  <div class="pagination-footer">
    <button class="nav-btn" (click)="prevPage()" [disabled]="currentPage() === 0">
      <i class="pi pi-chevron-left"></i>
    </button>

    <span class="page-indicator"> Page {{ currentPageDisplay() }} / {{ totalPages() }} </span>

    <button class="nav-btn" (click)="nextPage()" [disabled]="currentPage() + 1 >= totalPages()">
      <i class="pi pi-chevron-right"></i>
    </button>
  </div>
</div>
<div class="support-btn"><i class="pi pi-headphones"></i></div>
