.details-card {
  background: #fff;
  border-radius: 12px;
  padding: 26px;
  max-width: 1500px;
  height: 700px;
}

.details-title {
  font-size: 18px;
  margin-bottom: 30px;
}

.details-row {
  display: flex;
  border: solid rgb(239, 235, 235) 0.1px;
  height: 70px;
  justify-content: space-between;
  padding-top: 25px;
  padding-left: 14px;
  padding-right: 14px;
  font-size: 14px;
}
.dashboard-layout {
  --sidebar-width: 240px;
}
.sidebar {
  width: var(--sidebar-width);
}

.dashboard-content {
  flex: 1;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-left: 100px;
  min-height: 100vh;
  margin-left: var(--sidebar-width);
  background-color: rgb(236, 236, 238);
}
.label {
  display: flex;
  gap: 10px;
  color: #6b7280;

  i {
    font-size: 14px;
    color: #3b82f6;
  }
}

.value.fee-value {
  color: red;
}
