.btn-outline {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  border: 1px solid #e1e6ef;
  background: white;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
}

/* BACKDROP */
.date-popup-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* POPUP */
.date-popup {
  background: #fff;
  width: 1200px;
  height: 500px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 15px;
  border-radius: 16px;
  position: relative;
  z-index: 1001;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.15);
}

:host ::ng-deep .p-datepicker-next-button {
  position: absolute;
  top: 175px;
  right: -50px;
  background-color: rgb(236, 235, 235);

  width: 40px;
  height: 40px;
  border-radius: 20%;
}
:host ::ng-deep .p-datepicker-prev-button {
  position: absolute;
  top: 175px;
  left: 10px;
  background-color: rgb(236, 235, 235);
  width: 40px;
  height: 40px;
  border-radius: 20%;
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 22px;
  cursor: pointer;
}

/* CONTENT */
.date-popup-content {
  display: flex;
  gap: 20px;
}

:host ::ng-deep .p-datepicker-weekday-cell {
  height: 45px;
  color: rgb(200, 191, 191);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0;
}
:host ::ng-deep .p-datepicker-weekday-cell::first-letter {
  font-size: 12px;
}

/* QUICK FILTERS */
.quick-options {
  width: 210px;
  border-right: 1px solid #e6e9ef;
  padding-right: 20px;

  p {
    font-size: 15px;
    color: #555;
    cursor: pointer;
    margin-bottom: 18px;
  }
}

/* INPUT BAR */
.date-input-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 52px;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  font-size: 14px;
}

.single-date {
  font-weight: 600;
  color: #2563eb;
}

/* CALENDAR */
.calendar-box {
  flex: 1;
}

:host ::ng-deep .p-datepicker {
  border: none;
}
:host ::ng-deep .p-datepicker-panel {
  height: 350px;
}
:host ::ng-deep .p-datepicker-header {
  padding-top: 30px;
}
:host ::ng-deep .p-datepicker-calendar-container {
  display: flex;
  justify-content: space-between;
  gap: 150px;
}

/* ACTIONS */
.popup-actions {
  display: flex;
  align-items: center;
  margin-top: 14px;
}

.cancel {
  background: #f1f4f9;
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 5px 9px rgba(3, 3, 3, 0.08);
  cursor: pointer;
}

.done {
  background: #124cc9;
  color: white;
  box-shadow: 0 2px 7px rgba(47, 92, 255, 0.35);
  padding: 15px 28px;
  border-radius: 10px;
  border: none;
  margin-left: 12px;
  cursor: pointer;
}

.reset-period {
  margin-left: auto;
  color: #2563eb;
  cursor: pointer;
}
/* ✅ SELECTED DAYS (START / END) */
:host ::ng-deep td.p-datepicker-day-cell[aria-selected='true'] .p-datepicker-day,
:host ::ng-deep .p-datepicker-day.p-highlight,
:host ::ng-deep .p-datepicker-day.p-datepicker-day-selected {
  background: #2563eb !important;
  color: #fff !important;
}

:host ::ng-deep .p-datepicker table td span.p-disabled {
  color: grey !important; /* grey text */
}

:host ::ng-deep .p-datepicker-calendar-container {
  padding-left: 80px;
}

:host ::ng-deep .p-datepicker table td span {
  height: 40px;
  width: 40px;
  margin: 1px;
  padding: 3px;
  border-radius: 10%;
}
.quick-options p {
  padding: 10px 12px;
  border-radius: 8px;
  transition: background 0.2s, color 0.2s;
}

.quick-options p:hover {
  background: #f3f6fc;
}

.quick-options p.active {
  background: #eef4ff; /* light blue */
  color: #184199;
  font-weight: 600;
}
