<button class="btn-outline" (click)="toggle()">
  <i class="pi pi-calendar"></i>
  {{ label }}
</button>

<div class="date-popup-backdrop" *ngIf="show" (click)="close()">
  <div class="date-popup" (click)="$event.stopPropagation()">
    <button class="close-btn" (click)="close()">✕</button>

    <div class="date-popup-content">
      <div class="quick-options">
        <p (click)="applyToday()" [class.active]="selectedQuick === 'today'">Today</p>

        <p (click)="applyYesterday()" [class.active]="selectedQuick === 'yesterday'">Yesterday</p>

        <p (click)="applyCurrentWeek()" [class.active]="selectedQuick === 'week'">Current week</p>

        <p (click)="applyCurrentMonth()" [class.active]="selectedQuick === 'month'">
          Current month
        </p>

        <p (click)="applyStartOfAccount()" [class.active]="selectedQuick === 'start'">
          Start of account
        </p>
      </div>

      <div class="calendar-box">
        <div class="date-input-bar">
          <!-- SINGLE DATE (Today / Yesterday) -->
          <ng-container
            *ngIf="tempRange.length === 1 || isSameDay(tempRange[0], tempRange[1]); else rangeMode"
          >
            <span class="single-date">
              {{ tempRange[0] ? format(tempRange[0]) : '' }}
            </span>
          </ng-container>

          <!-- RANGE MODE -->
          <ng-template #rangeMode>
            <span class="date-part">
              {{ tempRange[0] ? format(tempRange[0]) : 'Start date' }}
            </span>
            <span class="date-separator">—</span>
            <span class="date-part">
              {{ tempRange[1] ? format(tempRange[1]) : '' }}
            </span>
          </ng-template>
        </div>

        <p-datepicker
          [(ngModel)]="tempRange"
          selectionMode="range"
          [inline]="true"
          [numberOfMonths]="2"
          [firstDayOfWeek]="1"
          [showOtherMonths]="false"
          [maxDate]="today"
        ></p-datepicker>

        <div class="popup-actions">
          <button class="cancel" (click)="close()">Cancel</button>
          <button class="done" (click)="applyRange()">Done</button>
          <span class="reset-period" (click)="resetPeriod()">Reset period</span>
        </div>
      </div>
    </div>
  </div>
</div>
