.iti {
  --iti-path-flags-1x: url('assets/flags/flags.webp');
  --iti-path-flags-2x: url('assets/flags/flags@2x.webp');
  --iti-path-globe-1x: url('assets/flags/globe.webp');
  --iti-path-globe-2x: url('assets/flags/globe@2x.webp');
}
