.header-transactions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 8px 17px;
}

.header-title {
  font-size: 20px;
}

.header-bell {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 32px;
  color: #64748b;

  &:hover {
    color: #0b57d0;
  }
}
.breadcrumb {
  display: flex;
  align-items: center;
  gap: 4px;
}

.breadcrumb-link {
  color: #2563eb;
  cursor: pointer;
  text-decoration: none;
}

.breadcrumb-link:hover {
  text-decoration: underline;
}

.breadcrumb-current {
  color: #6b7280;
  font-weight: 500;
  cursor: default;
}
