.header-transactions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 8px 50px;
  margin-bottom: 30px;
}

.header-title {
  font-size: 20px;
}

.header-bell {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 32px;
  color: #64748b;

  &:hover {
    color: #0b57d0;
  }
}
