<div class="send-wallet-transfer">
  <h2 class="title">Send from Wallet</h2>

  <form class="form" [formGroup]="form">
    <div class="field">
      <label>Currency</label>
      <select formControlName="currency">
        <option value="" disabled>Select Currency</option>
        <option value="USD">USD</option>
        <option value="LBP">LBP</option>
        <option value="EUR">EUR</option>
      </select>
    </div>

    <div class="field">
      <label>Amount</label>
      <input type="number" placeholder="Enter amount" formControlName="amount" />
    </div>

    <div class="field">
      <label>Recipient Type</label>

      <div class="radio-group">
        <div class="radio-item">
          <p-radioButton
            inputId="recipientIndividual"
            name="recipientType"
            value="individual"
            formControlName="recipientType"
          ></p-radioButton>
          <label for="recipientIndividual">Individual</label>
        </div>

        <div class="radio-item">
          <p-radioButton
            inputId="recipientBusiness"
            name="recipientType"
            value="business"
            formControlName="recipientType"
          ></p-radioButton>
          <label for="recipientBusiness">Business</label>
        </div>
      </div>
    </div>

    @if (form.controls.recipientType.value === 'individual') {
    <div class="field">
      <label>Beneficiary Mobile Number</label>
      <div class="phone-wrapper">
        <intl-tel-input
          class="tel"
          (numberChange)="handleNumberChange($event)"
          (validityChange)="handleValidityChange($event)"
          [initOptions]="{
            initialCountry: 'lb',
            formatAsYouType: true,
            autoPlaceholder: 'aggressive',
            strictMode: true
          }"
        ></intl-tel-input>
      </div>
    </div>

    <div class="field">
      <label>Beneficiary Name</label>
      <input type="text" formControlName="beneficiaryName" />
    </div>
    } @if (form.controls.recipientType.value === 'business') {
    <div class="field">
      <label>Email</label>
      <input type="email" placeholder="example@company.com" formControlName="email" />
    </div>

    <div class="field">
      <label>Company Name</label>
      <input type="text" formControlName="companyName" />
    </div>
    }

    <div class="field">
      <label>Transfer Reason</label>
      <input type="text" formControlName="reason" />
    </div>

    <div class="info">
      <i class="pi pi-info-circle"></i>
      <span> The receiver has 24 hours to accept or reject the transfer before it expires. </span>
    </div>

    <div class="actions">
      <button type="button" class="continue-btn" [disabled]="!canContinue" (click)="goToSummary()">
        Continue
      </button>
    </div>
  </form>
</div>
