.header {
  width: 95%;
  padding: 24px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.5px;
  }

  .login {
    font-size: 14px;
    font-weight: 500;
    color: #1b73e8;

    &:hover {
      text-decoration: underline;
    }
  }
}
