.create-page {
  display: flex;
  justify-content: center;
  padding: 40px;

  &__container {
    max-width: 420px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  &__logo {
    width: 48px;
    height: 48px;
    background: #000;
    color: white;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    margin: 0 auto;
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
  }

  &__subtitle {
    color: #777;
    margin-bottom: 12px;
  }
}
