.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #000;
  color: white;
  padding: 14px 22px;
  font-size: 15px;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.25s ease;
  pointer-events: none;

  &.show {
    opacity: 1;
    transform: translateY(0);
  }
}

input.placeholder {
  position: relative;
  color: transparent; /* Hide empty digit */
}

input.placeholder::before {
  content: '0';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #c0c0c0; /* light grey placeholder */
  font-size: 28px;
  pointer-events: none;
}
