<div class="sidebar">
  <!-- TOP -->
  <div class="sidebar-top">
    <img src="logo.svg" alt="Logo" class="logo" />
    <div class="business">Business</div>

    <nav class="sidebar-nav">
      <a (click)="onSelect('Dashboard')" [class.active]="selected === 'Dashboard'">
        <i class="pi pi-home"></i>Dashboard
      </a>

      <a (click)="onSelect('Overview')" [class.active]="selected === 'Overview'">
        <i class="pi pi-book"></i>Overview
      </a>

      <a (click)="onSelect('Payroll Payment')" [class.active]="selected === 'Payroll Payment'">
        <i class="pi pi-wallet"></i>Payroll Payment
      </a>

      <a
        (click)="onSelect('Wallet Mass Payment')"
        [class.active]="selected === 'Wallet Mass Payment'"
      >
        <i class="pi pi-wallet"></i>Wallet Mass Payment
      </a>

      <a (click)="onSelect('Transactions')" [class.active]="selected === 'Transactions'"
        ><i class="pi pi-chart-bar"></i>Transactions</a
      >

      <a (click)="onSelect('Wallet Transfers')" [class.active]="selected === 'Wallet Transfers'">
        <i class="pi pi-arrow-up-right"></i>Wallet Transfers
      </a>
    </nav>
  </div>

  <!-- FOOTER -->
  <div class="sidebar-footer">
    <div class="version">Version 1.1.9-develop</div>

    <div class="sidebar-profile">
      <img src="https://i.pravatar.cc/60" class="profile-avatar" />
      <div class="profile-info">
        <div class="profile-name">Monty Finance</div>
        <div class="profile-handle">@haysam</div>
      </div>
    </div>
  </div>
</div>
