<div class="sidebar">
  <!-- TOP -->
  <div class="sidebar-top">
    <img src="assets/logo.svg" alt="Logo" class="logo" />
    <div class="business">Business</div>

    <nav class="sidebar-nav">
      <a routerLink="/dashboard" routerLinkActive="active"> <i class="pi pi-home"></i>Dashboard </a>

      <a routerLink="/overview" routerLinkActive="active"> <i class="pi pi-book"></i>Overview </a>

      <a routerLink="/payroll-payment" routerLinkActive="active">
        <i class="pi pi-wallet"></i>Payroll Payment
      </a>

      <a routerLink="/wallet-mass-payment" routerLinkActive="active">
        <i class="pi pi-wallet"></i>Wallet Mass Payment
      </a>

      <a routerLink="/transactions" routerLinkActive="active">
        <i class="pi pi-chart-bar"></i>Transactions
      </a>

      <a routerLink="/transfers" routerLinkActive="active">
        <i class="pi pi-arrow-up-right"></i>Wallet Transfers
      </a>
    </nav>
  </div>

  <!-- FOOTER -->
  <div class="sidebar-footer">
    <div class="version">Version 1.1.9-develop</div>

    <div class="sidebar-profile">
      <img src="https://i.pravatar.cc/60" class="profile-avatar" />
      <div class="profile-info">
        <div class="profile-name">{{ userName() }}</div>
        <div class="profile-handle">{{ userHandle() }}</div>
      </div>
    </div>
  </div>
</div>
<div class="support-btn"><i class="pi pi-headphones"></i></div>
