.otp-container {
  display: flex;
  gap: 12px;
  justify-content: center;
}

input {
  width: 48px;
  height: 58px;
  font-size: 28px;
  text-align: center;
  border: 2px solid #d0d7e2;
  border-radius: 10px;
  outline: none;
  transition: border 0.2s, color 0.2s;

  &:focus {
    border-color: #000;
  }

  &.correct {
    border-color: blue;
    color: blue;
  }

  &.incorrect {
    border-color: red;
    color: red;
  }
}

input.placeholder {
  position: relative;
  color: transparent; /* Hide empty digit */
}

input.placeholder::before {
  content: '0';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #c0c0c0; /* light grey placeholder */
  font-size: 28px;
  pointer-events: none;
}
