.p-datepicker .p-datepicker-day-selected-range {
  background: #d3d3d3 !important; /* light grey */
  color: #000 !important;
}

/* ✅ Start & end of the range stay blue */
.p-datepicker .p-datepicker-day.p-highlight {
  background: #2b5cff !important; /* your blue */
  color: #ffffff !important;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0px !important;
}
